In [1]:
import pandas as pd
import numpy as np
import string 
from collections import Counter
punctuations = string.punctuation

In [2]:
path = r"C:\Users\tanch\Documents\NTU\NTU Year 4\Semester 1\CS4022 - Social Media Mining\Assignments\Assignment 2 - Customer Review Mining Project\data\dataset.csv"
dataset = pd.read_csv(path)
dataset.head()

,summary,reviewText,asin,brand,sentiment,reviewId
0,This is excellent software for those who want ...,If you've been wanting to learn how to create ...,0321719816,Peach Pit Press,POS,1
1,Competent introduction to Dreamweaver and web ...,I waited to complete the entire course before ...,0321719816,Peach Pit Press,NEU,2
2,Learn Adobe Photoshop Lightroom 3 by Video (Le...,As someone who has just upgraded from Lightroo...,0321700945,Peach Pit Press,POS,3
3,For Highly Motivated and Patient People,There are over 100 video lessons here. Most us...,0321700945,Peach Pit Press,NEU,4
4,Good Intro to Flash CS5,This was the first Learn by Video series cours...,0321719824,Peach Pit Press,POS,5

In [3]:
def get_num_uppercase_words(text):
    count = 0
    for word in text:
        if word.isupper():
            count+=1
    return count

def get_num_punctuations(text):
    output = {}
    counts = Counter(text)
    for punc in punctuations:
        output[punc] = counts.get(punc,0)
    return output

### generate additional features
- number of words
- number of fully upper case words
- ratio of fully upper case words
- number of every punctuation

In [6]:
additional_features = pd.DataFrame()
additional_features['num_words'] = dataset["reviewText"].apply(lambda text: len(text.split()))
additional_features['num_uppercase_words'] = dataset["reviewText"].map(get_num_uppercase_words)
punctuation_counts_df = pd.DataFrame(list(map(get_num_punctuations, dataset["reviewText"])))
punctuation_counts_df.columns = [f"punc_{col}" for col in punctuation_counts_df.columns]
additional_features = pd.concat([additional_features,punctuation_counts_df], axis = 1)
additional_features["ratio_uppercase_words"] = additional_features["num_uppercase_words"]/additional_features["num_words"]
additional_features["reviewId"] = dataset["reviewId"]

In [9]:
additional_features

,num_words,num_uppercase_words,punc_!,"punc_""",punc_#,punc_$,punc_%,punc_&,punc_',punc_(,...,punc_],punc_^,punc__,punc_`,punc_{,punc_|,punc_},punc_~,reviewId,ratio_uppercase_words
0,1439,231,0,17,0,1,0,1,39,26,...,0,0,0,0,0,0,0,0,1,0.160528
1,746,113,0,6,0,0,0,0,9,13,...,0,0,0,0,0,0,0,0,2,0.151475
2,246,37,0,2,0,0,0,0,3,1,...,0,0,0,0,0,0,0,0,3,0.150407
3,235,31,0,2,0,0,0,0,6,0,...,0,0,0,0,0,0,0,0,4,0.131915
4,211,41,0,0,0,0,0,0,7,2,...,0,0,0,0,0,0,0,0,5,0.194313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4435,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4436,0.000000
4436,61,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4437,0.229508
4437,135,12,2,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,4438,0.088889
4438,144,24,0,0,0,0,0,0,2,1,...,0,0,0,0,0,0,0,0,4439,0.166667
4439,110,12,0,2,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,4440,0.109091

In [10]:
path = r"C:\Users\tanch\Documents\NTU\NTU Year 4\Semester 1\CS4022 - Social Media Mining\Assignments\Assignment 2 - Customer Review Mining Project\data\additional_features.pkl"
additional_features.to_pickle(path)